@import "tailwindcss";

@theme {
	--color-teal: #177e89;
	--color-dark-teal: #084c61;
	--color-scarlet: #db3a34;
	--color-golden: #ffc857;
	--color-graphite: #323031;
}

@layer base {
	body {
		@apply bg-graphite text-white;
	}
}
